{{#d-modal-body title="poll.ui_builder.title" class="poll-ui-builder"}}
<div id="mathfield" style="border: 1px solid #999;padding:5px;">
    f(x)=
</div>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button action=(action "insertPoll") icon="chart-bar" class='btn-primary' label='poll.ui_builder.insert' disabled=disableInsert}}
</div>
